AccessModifierOffset: -4
AlignEscapedNewlines: DontAlign
AlignTrailingComments: false
AllowShortLambdasOnASingleLine: None
AlwaysBreakTemplateDeclarations: Yes
BasedOnStyle: Microsoft
BreakAfterJavaFieldAnnotations: true
FixNamespaceComments: false
JavaScriptQuotes: Double
NamespaceIndentation : All
PointerAlignment: Left
SpacesInContainerLiterals: false
