root = true

[*]
charset = utf-8
indent_size = 2
indent_style = space
insert_final_newline = true
line_ending = lf
trim_trailing_whitespace = true

[{config.mk,Makefile}]
indent_size = 8
indent_style = tab
